html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: antiquewhite;
}

.list-group-item {
    background-color: #ebeb97;
}


.icon {
    width: 35px;
    height: 35px;
    background-color: #ccc;
    animation-play-state: paused;
    border-radius: 8px;
}

@keyframes spin {
    50% {
        transform: rotate(30deg);
    }
}

.icon:hover {
    animation: spin 1s ease;
}
